_={{ _ }}
LANG={{ lang }}
TERM_PROGRAM={{ term.program._ }}
TERM_PROGRAM_VERSION={{ term.program.version }}
XPC_FLAGS={{ xpc.flags }}
CAMEL_CASE_VARIABLE={{ camel.case.variable }}
JAVA_camelCaseVariable={{ java.camel.case.variable }}