CAMEL_CASE_VARIABLE_ENCODED={{ camel.case.variable|b64encode }}
CAMEL_CASE_VARIABLE_DECODED={{ "aGFuZGxldGhpc3Rvbw=="|b64decode }}
CAMEL_CASE_VARIABLE={{ camel.case.variable|b64encode|b64decode }}
UNDEFINED_VARIABLE={{ undefined.variable|b64encode|b64decode }}
