{% if test.boolean.true|boolean %}cool{% else %}bad{% endif %}

{% if test.boolean.yes|boolean %}cool{% else %}bad{% endif %}

{% if test.boolean.true|upper|boolean %}cool{% else %}bad{% endif %}

{% if test.boolean.yes|boolean %}cool{% else %}bad{% endif %}

{% if test.boolean.one|boolean %}cool{% else %}bad{% endif %}

{% if test.boolean.false|boolean %}bad{% else %}cool{% endif %}

{% if test.boolean.false|upper|boolean %}bad{% else %}cool{% endif %}

{% if test.boolean.no|boolean %}bad{% else %}cool{% endif %}

{% if test.boolean.zero|boolean %}bad{% else %}cool{% endif %}
